#emptyContainer{
  margin-left:20%;
  /*display: none;*/
}
#empty{
  border-radius: 3px;
  background:#eaeaea;
  padding:30px 30px 90px 30px;
  margin: 50px auto;
  width: 60%;
  box-shadow:0 4px 1px rgba(255,255,255,.15);
}
#empty p{
  font-weight: 300;
  font-size: 1em;
  text-align: center;
}
#empty a{
  position: relative;
  left: 50%;
  margin-left: -25px;
}
