
.modal{
  display: none;
  position: fixed;
  left:50%;
  margin-top:50px;
  margin-left:-300px;
  z-index: 100;
  width: 600px;
  height:300px;
  background:#fff;
  box-shadow:0 3px 1px #eaeaea;
  border-radius: 3px;
  text-align: center;
}
.modal p{
  width: 100%;
  text-align: center;
  padding:50px;
  box-sizing:border-box;
}
.modal a:nth-of-type(1){
  position: absolute;
  right: 5%;
  margin-top:15px;
}
.modal a:nth-of-type(2){
  position: absolute;
  left: 50%;
  margin-left: -25px;
  margin-top:-5px;
}
.missingModal{
  height:auto;

}
.launchModal.modal>p:last-of-type{
  overflow:auto;
  background-color: white;
  border-top:1px solid #eaeaea;
  border-right:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
  padding:15px 15px 15px 10px;
  width:380px;
  border-radius:0 5px 5px 0;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -160px;
  text-align: left;
}
.launchModal.modal>a.link{
  width:30px;
  background-position:-50px -195px;
  background-color: white;
  position: absolute;
  left: 50%;
  border-top:1px solid #eaeaea;
  border-left:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
  border-right:1px solid #eaeaea;
  border-radius:5px 0 0 5px;
  margin-left:-210px;
  padding:5px 5px 6px 15px;
  margin-top:0;
}
.launchModal.modal>a.link:hover{
  background-color:#eee;
}
.newCampaignModal a:nth-of-type(2){
position: absolute;
left: 50%;
margin-left: -54px;
margin-top: -5px;
}
.newCampaignModal a:nth-of-type(3){
position: absolute;
right: 50%;
margin-right: -54px;
margin-top: -5px;
}