.leftBar{
  float:left;
  /*display: none;*/
  width: 20%;
  height: 100%;
  border-right: 1px solid #bbb;
  background:#fff;
  clear:left;
}
.leftBar>ul, .leftBar>ul>li>ul{
  width:100%;
  list-style-type: none;
  padding:0;
  margin:0;
}
.leftBar>ul>li, .leftBar>ul>li>ul>li{
  overflow: auto;
}
.leftBar>ul>li>a, .leftBar>ul>li>ul>li>a, .leftBar>ul>li>input {
  display: block;
  overflow: auto;
}
.leftBar>ul>li>a, .subnavHead{
  padding:20px;
}
.leftBar>ul>li:first-of-type>a{
  padding:10px;
  color:#ccc;
  font-size:.7em;
  background:#fafafa;
  border-bottom: 2px solid #f4f4f4;
}
.leftBar>ul>li:first-of-type>a:hover{
  color:#000;
  border-bottom: 2px solid #e4e4e4;
}
.leftBar>ul>li>ul>li>a:hover{
  background:#eaeaea;
}
 .leftBar>ul>li>ul>li>a, .leftBar>ul>li>ul>li>input{
  padding:20px 20px 20px 40px;
}
.leftBar>ul>li>input{
  padding:11px 20px 11px 20px;
  background:transparent;
  margin:0;
  border:none;
  font-size: 1em;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  box-sizing:border-box;
  width: 100%;
  outline:none;
}
.leftBar>ul>li>ul>li>input{
  outline:none;
  width: 100%;
  border:none;
  font-family: "Lato", sans-serif;
  font-size:1em;
  font-weight: 300;
  margin:0;
}
.leftBar>ul>li>input:hover{
  color:#222EFF;
  background-color: #eaeaea;
}
.leftBar>ul>li>ul>li>input:hover{
  background-color: #eaeaea;
  cursor: pointer;
}
.leftBar textarea{
width: 100%;
border: none;
resize: none;
padding: 10px 20px;
font-size: .7em;
font-weight: 300;
font-family: "Lato", sans-serif;
float: left;
outline: none;
}
.leftBar textarea:hover{
  background: #eaeaea;
}
.leftBar>ul>li>ul>li>a>span{
  padding:10px;
  margin-left:10px;
  border-radius: 3px;
  background:#eaeaea;
}
.leftBar>ul>li>ul>li>a:hover>span{
 background:#fff;
}