html, body{
  height:100%;
  clear:both;
}
body{
  margin:0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  padding-bottom:50px;
  background:#222;
}
div{
  box-sizing:border-box;
}
a{
  text-decoration: none;
  color:black;
}
a:hover{
  color:#444;
}
input:focus::-webkit-input-placeholder
{
    color: transparent;
}
ul{
  list-style-type: none;
}
.content{
  background: #eee;
  display: none;
  border-left: 1px solid #bbb;
  float: right;
  width: 80%;
  height: inherit;
  clear:right;
  padding-bottom:90px;
}
.content>ul{
  padding: 10px;
  margin: 0;
  overflow: auto;
  display: block;
  height: 100%;
  box-sizing: border-box;
}
.content>ul>li{
  background:white;
  min-height: 2em;
  margin-top:10px;
  margin-bottom:10px;
  display: block;
  clear: both;
  border:1px solid #eaeaea;
  border-radius: 3px
}
.content>ul>li.tip{
background: transparent;
min-height: inherit;
margin-top: 20px;
margin-bottom: 0;
display: block;
clear: both;
border: 1px solid transparent;
border-radius: 3px;
padding-left: 20px;
}
.content ul li#templates{
  /*height:2em;*/
}
.content ul li#templates>ul>li.progressItem{
  display: block;
  background: white;
  clear: both;
  border:1px solid #eaeaea;
  border-top:none;
  min-height: 2em;
  padding-left:30px;
}
.content ul li#templates>ul>li.tip{
  display: none;
  background: white;
  clear: both;
  border:1px solid #eaeaea;
  border-top:none;
  padding:10px 10px 10px 60px;
}
.content ul li#templates p span{
  margin-left:10px;
  font-size: .4em;
  position: relative;
  top: -2px;
  color:#ddd;
}
.content ul li#templates>ul{
  padding: 0;
  margin-top:15px;
  clear: both;
  overflow: auto;
  border-top:1px solid #eaeaea;
}
.content ul li#templates>ul>li>ul>li>a{
  display: none;
}
.content ul li#templates>ul>li:hover>ul>li>a{
  overflow: auto;
  display: block;
}
.content ul li p{
  margin:0;
  float: left;
  padding:10px;
}
.content ul li input{
  width: 100%;
  margin:0;
  border:none;
  padding: 10px;
  outline:none;
  font-size: 1em;
  color:black;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  box-shadow: none;
}
.content ul li ul#tool{
  overflow: auto;
  padding: 0;
  margin:auto;
}
.content ul li ul#tool li{
  float:left;
  width:48px;
}

::-webkit-input-placeholder:hover { /* WebKit browsers */
    color:    #1A26FF;
}
:-moz-placeholder:hover { /* Mozilla Firefox 4 to 18 */
    color:    #1A26FF;
}
::-moz-placeholder:hover { /* Mozilla Firefox 19+ */
    color:    #1A26FF;
}
:-ms-input-placeholder:hover { /* Internet Explorer 10+ */
    color:    #1A26FF;
}
#templates>ul{
  display: none;
}
#templates:hover>ul{
   display: block;
}
#templates:hover>ul>li>ul{
  display: none;
}
#templates>ul>li:hover>ul{
  display: block;
}
ul.hovers{
  padding: 0;
}
.content>ul>li>ul.hovers a{
  display: none;
  float: left;
  text-decoration: none;
}
.content>ul>li:hover>ul.hovers a.link, .content>ul>li:hover>ul.hovers a.edit{
  display: block;
  float: left;
}
#targetUniverse{
  margin-top:-10px;
  display:none;
  height: 400px;
  overflow-y: scroll;
  border-top:none;
}
#targetUniverse table {
  width: 100%;
  border-spacing:0;
}
.content ul li table tbody tr th p, .content ul li table tbody tr td p{
  padding:15px;
  float: left;
}
.content ul li table tbody tr td p{
  font-weight: 300;
}
.content ul li table tbody tr:hover{
  background:#eaeaea;
}
#landingPage{
  background:white;
  padding:40px;
  display: none;
  border:1px solid #eaeaea;
  border-top:none;
  clear:both;
}
#landingPage div{
  width:60%;
  border:1px solid #ddd;
  margin: 50px auto;
  padding:30px 30px 0 30px;
  overflow: auto;
  border-radius: 3px;
  box-sizing:border-box;
}
#landingPage .h1, #landingPage .h2, #landingPage .h3{
  border: 2px dashed #ddd;
  margin:0 0 20px 0;
  border-radius: 3px;
  box-sizing:border-box;
  width: 100%;
  font-weight: 300;
}
#landingPage .h1:hover, #landingPage .h2:hover, #landingPage .h3:hover{
  background: none;
}
#landingPage .h1{
  font-size: 1.5em;
}
#landingPage .h3{
  font-weight: 300;
  font-family: "Lato", sans-serif;
  font-size: .8em;
  height:7em;
  padding:10px;
  resize:none;
  outline:none;
}
#landingPage div p{
  display: block;
  padding: 30px 0;
  width: 100%;
  text-align: center;
}
#landingPage>a{
  position: relative;
  left: 50%;
  margin-left: -71px;
}
#script{
  background:white;
  clear:both;
  padding:40px;
  border:1px solid #eaeaea;
  border-top:none;
  display: none;
}
#script div input{
  padding:15px;
  border-bottom:2px dashed #eaeaea;
}
footer h1{
  clear:both;
  display: block;
  background: white;
}